.calendar{
  border: 1px solid red;
  height: 90%;
  width: 100%;
  font-family:Arial, Helvetica, sans-serif;
  color: black;
}
.dayLabels,
.cellGrid{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  border: 1px solid red;
}
 /* Positioning the first day on a Tuesday */
 .date-grid button:first-child {
  grid-column: 3;
}
